<main class="Main Main--home">
    <header class="Header">
        <h1 class="Header-title">
            <span class="Spinner">░</span><a href="/" class="Header-titleSpan">{{title}}</a>
        </h1>
    </header>
    <section class="PageContent">
        <p class="Intro">Local Radio is hosted from the Piggyback server at the 1156 Chapel. Stations are hosted locally and only accessible from the YaleSecure Network.</p>
        {{#if sources}}
        <h2>Active Stations:</h2>
        <ul class="SourceList">
            {{#each sources}}
            <li class="SourceList-item">
                <a href="/station{{this.mount}}" class="SourceList-link">
                    <h3 class="SourceList-title">{{{this.title}}} ({{this.listeners}})</h3>
                </a>
                <p class="SourceList-description">{{this.description}}</p>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <section>
            <p class="InactiveMessage">There are no active stations.</p>
        </section>
        {{/if}}
        <a class="StreamButton StreamButton--new" href="/new">Create a new station</a>
        {{!-- <hr>
        <h2>Bulletin</h2>
        <ul></ul>
        <input class="PostInput" type="text" name="Post"><button class="PostButton">Post</button> --}}
    </section>
    <footer>
        <i>Node/12.0.0 (Ubuntu) Server at local-radio.piggyback.page Port 443</i>
        <img src="/img/wiley-2.jpg">
    </footer>
</main>
